@import '~vuetify/src/styles/styles.sass';

// Rally specific variables
$rally-box-shadow: none;
$rally-dialog-background-color: #1F1E1F;
$rally-font-size: 16;
$rally-tabs-slider-background: transparent;
$rally-text-color: #FFFFFF;


// Preset variables
$body-font-family: 'Caveat Brush', cursive;
$heading-font-family: 'Sniglet', cursive;
$font-size-root: 21px;
$input-font-size: 21px;
$btn-font-size: #{14 / $rally-font-size}rem;
$btn-font-weight: 700;
$card-box-shadow: none;
$dialog-card-subtitle-padding: 24px;
$dialog-card-text-padding: 24px;
$dialog-card-title-padding: 24px;
$dialog-elevation: 0;
$headings: (
  'h1':(
    'font-family': $heading-font-family,
  ),
  'h2':(
    'font-family': $heading-font-family,
  ),
  'h3':(
    'font-family': $heading-font-family,
  ),
  'h4':(
    'font-family': $heading-font-family,
  ),
  'h5':(
    'font-family': $heading-font-family,
  ),
  'h6':(
    'font-family': $heading-font-family,
  ),
  'subtitle-1':(
    'font-family': $body-font-family,
    'font-size': '1.8rem',
  ),
  'text-subtitle-2':(
    'font-family': $body-font-family,
    'font-size': '1.3rem',
  ),
  'text-body-1':(
    'font-family': $body-font-family,
    'font-size': '1.1rem',
  ),
  'body-2':(
    'font-family': $body-font-family,
    'font-size': '0.9rem',
  ),
  'caption':(
    'font-family': $body-font-family,
  ),
  'overline':(
    'font-family': $body-font-family,
  )
);
$material-dark: (
  'status-bar': (
    'regular': #27272f
  ),
  'background': #33333d,
  'cards': #373740,
  'dividers': #33333d,
  'tabs': rgba(255, 255, 255, .3)
);
$material-light: (
  'dividers': rgba(255, 255, 255, .12)
);
$navigation-drawer-border-width: 0;
$snackbar-background-color: rgba(39, 39, 47, .9);
$tab-font-size: 1.25rem;
$tab-font-weight: 500;
$tabs-item-min-width: 0;
$tabs-bar-background-color: map-get($material-dark, 'background');

@import '~vuetify/src/styles/main.sass';
